<div class="tab-pane fade show active" id="dashboard-tab">
    <h2>{{ title }}</h2>
    <p>{{ content }}</p>
    <div id="map" style="width: 100%; height: 400px"></div>
    <table id="company_datatable" class="display table table-striped" style="width:100%">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Site Web</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011-04-25</td>
                
            </tr>
        </tbody>
        <tfoot>
          <tr>
                
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Site Web</th>
            </tr>
        </tfoot>
    </table>
</div>
